In [32]:
import os
import snowflake.connector 
from snowflake.connector.pandas_tools import write_pandas
import pandas as pd

In [33]:
sf_account_id = ''
sf_pw = os.environ['SF_PASSWORD']
sf_login = os.environ['SF_LOGIN']

DB_name = 'TEST_DB'
schema_name = 'PUBLIC' 
table_name = 'TEST_TABLE'

In [34]:
# Reading Data from CSV
df = pd.read_json('./anscombe.json')
df.columns = [x.upper() for x in df.columns]
df.head()

  SERIES   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

In [35]:
# Creating Connection to Snowflake
cnx = snowflake.connector.connect(
    user=sf_login,
    password=sf_pw,
    account=sf_account_id,
    database=DB_name,
    schema=schema_name, 
    warehouse='COMPUTE_WH',
    role='ACCOUNTADMIN'
)

cs = cnx.cursor()

In [43]:
# Create Table       
create_table = "create or replace TABLE TEST_DB.PUBLIC.TEST_TABLE (SERIES VARCHAR(16777216),X FLOAT,Y FLOAT);"
cs.execute(create_table)

In [44]:
# Write Table 
write_pandas(cnx, 
             df, 
             table_name=table_name)

/var/folders/md/b9gwzs7n1sn16v24b0j0fl780000gn/T/ipykernel_68333/3201502633.py:2: UserWarning: Pandas Dataframe has non-standard index of type <class 'pandas.core.indexes.base.Index'> which will not be written. Consider changing the index to pd.RangeIndex(start=0,...,step=1) or call reset_index() to keep index as column(s)
  write_pandas(cnx,

(True,
 1,
 44,
 [('zjawiicjwo/file0.txt', 'LOADED', 44, 44, 1, 0, None, None, None, None)])

In [46]:
#SQL Query
cs.execute("SELECT * FROM TEST_DB.PUBLIC.TEST_TABLE LIMIT 10;")
rows = cs.fetchall()
for row in rows:
    print(row)

('I', 10.0, 8.04)
('I', 8.0, 6.95)
('I', 13.0, 7.58)
('I', 9.0, 8.81)
('I', 11.0, 8.33)
('I', 14.0, 9.96)
('I', 6.0, 7.24)
('I', 4.0, 4.26)
('I', 12.0, 10.84)
('I', 7.0, 4.8100000000000005)

In [48]:
# Dataframe from Snowflake
sql = "SELECT * FROM TEST_DB.PUBLIC.TEST_TABLE;"
cs.execute(sql)

df_from_df = cs.fetch_pandas_all()
df_from_df

   SERIES     X      Y
0       I  10.0   8.04
1       I   8.0   6.95
2       I  13.0   7.58
3       I   9.0   8.81
4       I  11.0   8.33
5       I  14.0   9.96
6       I   6.0   7.24
7       I   4.0   4.26
8       I  12.0  10.84
9       I   7.0   4.81
10      I   5.0   5.68
11     II  10.0   9.14
12     II   8.0   8.14
13     II  13.0   8.74
14     II   9.0   8.77
15     II  11.0   9.26
16     II  14.0   8.10
17     II   6.0   6.13
18     II   4.0   3.10
19     II  12.0   9.13
20     II   7.0   7.26
21     II   5.0   4.74
22    III  10.0   7.46
23    III   8.0   6.77
24    III  13.0  12.74
25    III   9.0   7.11
26    III  11.0   7.81
27    III  14.0   8.84
28    III   6.0   6.08
29    III   4.0   5.39
30    III  12.0   8.15
31    III   7.0   6.42
32    III   5.0   5.73
33     IV   8.0   6.58
34     IV   8.0   5.76
35     IV   8.0   7.71
36     IV   8.0   8.84
37     IV   8.0   8.47
38     IV   8.0   7.04
39     IV   8.0   5.25
40     IV  19.0  12.50
41     IV   8.0   5.56
42     IV   8.0   7.91
43     IV   8.0   6.89

In [49]:
cs.close()
cnx.close()